html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


  .h1 {
    color: red;
  }

  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
  }

  .wrapperSubMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .divlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    gap: 10px;
    background-color: aqua;
    color: black;
  }

  .divdark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    gap: 10px;
    background-color: black;
    color: white;
  }

  .ul {
    margin: 0 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
  }

  .li {
    text-decoration: none;
    cursor: pointer;
  }

  .subMenuImg {
    height: 30px;
    width: 30px;
    cursor: "pointer";
  }

  .wrapperlight {
    background-color: aqua;
    width: 100%;
    margin: 0 auto;
    color: black;
  }
  .wrapperdark {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    color: white;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


@media all and (max-width: 320px) {

  .divlight {
    height: 30%;
    justify-content: space-around;
  }
  .divdark {
    height: 30%;
    justify-content: space-around;
  }

  .ul {
    flex-direction: column;
    margin: 20px 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
